.home__middle-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 180px 165px;
  .home__middle-bottom__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 900px;
    gap: 30px;
    .home__middle-text__container {
      width: 350px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 32px;
      .home__middle-header {
        font-family: "Big Shoulders Display";
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #151515;
      }
      .home__middle-text {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #444444;
      }
    }
    .home__bottom_img_container {
      background: #151515;
      width: 445px;
      height: 377px;
      padding: 65px 48px;

      .home__bottom_header {
        font-family: "Big Shoulders Display";
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 32px;
      }
      .home__bottom_text {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #ffffff;
      }
    }
    .home__midle-img0 {
      width: 635px;
    }
    .home__midle-img1 {
      grid-column: 1;
      grid-row: 2 / 4;
    }
    .home__midle-img2 {
      width: 445px;
    }
  }
}
