.home__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100vh;
}

.home__left {
  background: #151515;
  position: relative;

  .home__header-bottom {
    position: absolute;
    left: 315px;
    top: 280px;
    font-family: "Big Shoulders Display";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    @media (max-width: 1440px) {
      left: 195px;
      top: 280px;
    }
    .strong-header {
      color: #151515;
    }
  }

  .home__header {
    position: absolute;
    left: 315px;
    top: 189px;
    font-family: "Big Shoulders Display";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: 1440px) {
      left: 200px;
      top: 189px;
    }

    .strong-header_single {
      color: #151515;
      position: relative;
    }
    .strong-header_single::before {
      color: #151515;
      content: "N";
      position: absolute;
      width: 65%;
      overflow: hidden;
      color: #ffffff;
      font-weight: 900;
      font-size: 96px;
      line-height: 88px;
    }
  }
}
.home__middle {
  height: 100vh;
  .hero__img {
    height: 100vh;
  }
}
